body {
    font-family: Arial, sans-serif;
    background: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  #login-section, #dashboard {
    padding: 20px;
  }
  
  h1, h2 {
    margin-bottom: 20px;
  }
  
  button {
    background-color: #1DB954;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border-radius: 25px;
  }
  
  button:hover {
    background-color: #1ed760;
  }
  
  img {
    border-radius: 50%;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  